@model int

@{
    ViewBag.Title = "Async Examples";
}

<h2>@ViewBag.Title  @ViewBag.ExampleType</h2>


<table>
    <tr>
        <th>
            @Html.DisplayFor(model => model)
        </th>
    </tr>
</table>
