<h2>@ViewBag.ExperimentType</h2>


<table>
    <tr>
        <th>
            Response status: @Response.StatusCode (@Enum.GetName(typeof(HttpStatusCode), Response.StatusCode))
        </th>
    </tr>
</table>
